/* Colors Theme */

$white: #fff;
$lightgray: grey(3);
$gray: grey(5);
$darkgray: grey(7);
$black: #292929;

$shadow: $gray;

$bg-dark: primary(9);
$fg-dark: primary(5);

$bg-light: primary(2);
$fg-light: primary(6);

$bg-info: lightgreen;
$fg-info: mediumseagreen;
$bg-error: salmon;
$fg-error: tomato;

.error {
  font-weight: bold;
  color: $fg-error;
}

.info {
  font-weight: bold;
  color: $fg-info;
}
