/* Individual elements styling */

#about {
  h3 {
    margin-top: 4.2rem;
  }

  pre {
    background: $bg-light;
    color: $fg-light;
    padding: 0 1.4em;
  }

  ul {
    list-style-type: none;
    padding: 0 2.4em;

    li {
      margin: 0.7em 0;

      &::before {
        content: "− ";
        position: absolute;
        margin-left: -1em;
      }
    }
  }
}

#logo {
  z-index: -1;
  position: absolute;
  top: 0;
  width: 40vw;

  opacity: 0.7;
  filter: grayscale(15%);
  transform: translate(-20%, -20%);
}

#cosmiclink_description {
  vertical-align: baseline;
}

.NetworkSelector {
  [type="radio"] + label {
    width: 30%;
    margin-left: 1%;
    margin-right: 1%;
    max-width: 7.25em;
  }
}

#accountMsgbox,
#redirectionMsgbox {
  margin: 0.7em 0;
}

#copied {
  position: absolute;
  right: 0;
  width: 4.5em;
  transform: translate(-0.1em,0.45em);
  line-height: 1.8em;

  background: ghostwhite;
  background: rgba(248, 248, 255, 0.8);

  font-weight: bold;
  color: mediumseagreen;

  // (hack) fix textarea moving because of margin collapse shortcut.
  + textarea { margin-top: 0; }
}


#qrForm {
  > div {
    background-color: ghostwhite;
  }

  input {
    margin-bottom: 0;
  }

  .cosmiclib_loadingAnim {
    width: 3em;
    height: 3em;
    margin: 1em auto;

    border-width: 0.75em;
  }

  canvas {
    min-width: 50%;
    max-width: 100%;
    height: auto!important;
    margin: auto;

    padding: 1em;
    image-rendering: pixelated;
  }
}

#registerSep7Handler {
  display: table;
  margin: 1.4em auto;

  text-align: center;
  font-style: italic;
}

.AntiTamper {
  position: fixed;
  max-height: 50%;
  max-width: 40%;
  bottom: 0;
  right: 0;

  pointer-events: none;
  opacity: 0.3;
  filter: grayscale(50%);
}
