/* Generic tags definition */

p {
  margin: 1.4em 0;
  vertical-align: baseline;
}

h2 {
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
}

h3 {
  margin: 1.4rem 0;
  
  font-weight: bolder;
  font-size: 0.9em;
  text-transform: uppercase;
}

hr {
  width: 50%;
  margin: 1.4em auto;
  border: 0;
  border-top: thin solid $lightgray;
}

a {
  text-decoration: none;
  color: $fg-light;

  transition: 0.2s color;

  &:hover:not(.selected)
  {
    cursor: pointer;
    color: $fg-dark;
  }
}

main > section {
  padding-bottom: 0.35em;
}
