@import "../node_modules/@cosmic-plus/assets/scss/base";
@import "../node_modules/cosmic-lib/web/cosmic-lib";


@import "./fonts";
@import "./colors";

@import "./layout";
@import "./generic";

@import "./tag/header";
@import "./tag/nav";
@import "./tag/form";

@import "./components";
@import "./ledger-fix";

/* Layout style */

::selection {
  background-color: $fg-light;
  color: $white;
}

html {
  overflow-y: scroll;
}

body
{
  background-color: aliceblue;

  padding: 0 2%;
  font-family: "Rubik", Arial, sans-serif;
  color: $black;
  line-height: 1.4em;
}

main
{
  border-radius: 1em;
  box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  background-color: $white;

  padding: 0 7%;
  overflow: hidden;
}

// Full interface only 
h3 {
  font-family: "Cousine", Arial, sans-serif;
}
