@import "../node_modules/@cosmic-plus/assets/scss/base";
@import "../node_modules/cosmic-lib/web/cosmic-lib";


@import "./fonts";
@import "./colors";

@import "./layout";
@import "./generic";

@import "./tag/header";
@import "./tag/nav";
@import "./tag/form";

@import "./components";
@import "./ledger-fix";

/* Layout style */

::selection {
  background-color: primary(4);
  color: $white;
}

html {
  overflow-y: scroll;
}

body
{
  background-color: primary(0);

  padding: 0 2%;
  font-family: "Rubik", Arial, sans-serif;
  color: $black;
  line-height: 1.4em;
}

main
{
  @include elevation(1)

  border-radius: 1em;
  background-color: $white;

  padding: 0 7%;
  overflow: hidden;
}

// Full interface only 
h3 {
  font-family: "Cousine", Arial, sans-serif;
}
