@import "../node_modules/@cosmic-plus/assets/scss/base";
@import "../node_modules/cosmic-lib/web/cosmic-lib";

@import "./colors";
@import "./layout";
@import "./generic";

@import "./tag/header";
@import "./tag/nav";
@import "./tag/form";

@import "./components";
@import "./ledger-fix";

/* Layout style */

html {
  overflow-y: scroll;
}

body
{
  background-color: aliceblue;
  font-family: Arial, sans-serif;
}

main
{
  border: 3px solid lightgrey;
  border-radius: 1em;
  box-shadow: 0.1em 0.1em 0.3em darkgrey;
  padding: 0 0.5em;
  overflow: hidden;
  background-color: white;
}
