/* Page layout */

html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
}

header {
  top: 0;
  max-width: 100%;
  margin: 0.7em;
}

main {
  width: 45em;
  max-width: 100%;
  margin: auto;
}
