/* Page layout */

html {
  position: relative;
  height: 100%;
}

body {
  display: flex;
  min-height: 100%;

  flex-flow: column;
  justify-content: space-around;
}

header {
  max-width: 100%;
  margin: 0.7em;
}

main {
  width: 45em;
  max-width: 100%;
  margin: 0 auto;
}
