@import "../node_modules/@cosmic-plus/assets/scss/base";
@import "../node_modules/cosmic-lib/web/cosmic-lib";

@import "./colors";
@import "./generic";
@import "./tag/form";

@import "./components";
@import "./ledger-fix";

/* Layout style */

body
{
  font-family: Arial, sans-serif;
}

main
{
  max-width: 40em;
  padding: 0.5em;
  overflow: hidden;
  background-color: white;
}

/* Overwrites */
 
hr {
  height: 1.25em;
  background: none;
}

#redirectionCheckbox + label {
  display: none;
}
