@import "../node_modules/@cosmic-plus/assets/scss/base";
@import "../node_modules/cosmic-lib/web/cosmic-lib";

@import "./colors";
@import "./generic";
@import "./tag/form";

@import "./components";
@import "./ledger-fix";

/* Layout style */

body
{
  font-family: Arial, sans-serif;
  color: $black;
  line-height: 1.4em;
}

main
{
  max-width: 40em;
  margin: auto;

  padding: 0.5em;
  overflow: hidden;
}
