/* Forms styling */

// Configuration //

// Backgrounds
$bg-inset: ghostwhite;
$bg-outset: #f0f0f0;
$bg-hover: $lightgray;

// Borders
$border: $lightgray;
$hover: #909090;
$focus: lightsteelblue;

// States
$disabled: $darkgray;
$readonly: $darkgray;

// Styles //

form {
  clear: both;
  position: relative;
  max-width: 30em;
  margin: 1.05em auto;
  
  text-align: center;

  & > :first-child { margin-top: 0!important; }
  & > :last-child { margin-bottom: 0!important; }
}

// Cross-browser select //
$select-arrow: 'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120 50" fill="%23292929"><polygon points="0,0 60,0 30,50"/></svg>';
select {
  appearance: none;
  background: url($select-arrow) right/1em no-repeat;
}

textarea,
select,
input,
label {
  display: inline-block;
  width: 100%;
  height: 2em;
  line-height: 2em;
  max-width: 30em;
  margin: 0.35em 0;

  border: solid thin $border;
  border-radius: 0.1em;
  outline: 0;
  background-color: $bg-inset;

  padding: 0 0.5em;
  overflow: hidden;

  transition: all 0.2s ease;
}

textarea {
  height: unset;
  line-height: 1.4em;
  padding: 0.5em;
  resize: none;
}

// Input elements //
textarea,
select,
input {
  &[readonly] {
    color: $readonly;
  }

  &:hover:enabled {
    cursor: pointer;
    border: solid thin $hover;
  }

  &:focus:enabled {
    // box-shadow: 0 0 0px 2px $focus;
  }
}

// Outset elements //
[type="button"],
[type="submit"] {
  background: $bg-outset;

  &:hover:enabled, &.enabled {
    cursor: pointer;
    background: $bg-hover;
  }
}

// Checkable elements //
[type="checkbox"],
[type="radio"] {
  display: none;

  // Label styling //
  & + label::before { content: "✘ "; }
  &:checked + label::before { content: "✔ "; }

  & + label {
    line-height: 2em;
    border: none;
    background: $white;
  }

  &:enabled + label:hover {
    cursor: pointer;
    background: $fg-info;
    font-style: normal;
    color: $black;
  }

  &:disabled + label,
  &:not(:checked) + label {
    font-style: italic;
    color: $disabled;
  }

  &:checked:enabled + label {
    background: $bg-info;
  }

  &:checked:disabled + label {
    box-shadow: inset 0 0 3px 1px $disabled;
    color: $black;
  }
}
