/* Form styling */

/* Configuration */

// Backgrounds
$bg-inset: ghostwhite;
$bg-outset: #f0f0f0;
$bg-hover: $lightgray;

// Borders
$border: $lightgray;
$hover: #909090;
$focus: lightsteelblue;

// States
$disabled: $darkgray;
$readonly: $darkgray;

/* Styles */

form
{
  clear: both;
  position: relative;
  max-width: 30em;
  margin: 0.75em auto;
  
  text-align: center;
}

textarea,
select,
button,
input,
label
{
  display: inline-block;
  width: 100%;
  max-width: 30em;
  margin: 0.2em 0;

  border: solid 2px $border;
  border-radius: 0.2em;
  background-color: $bg-inset;

  padding: 0.2em;
  overflow: hidden;

  transition: all 0.2s ease;
}

textarea[readonly],
input[readonly]
{
  color: $readonly;
}

textarea:hover:enabled,
select:hover:enabled,
button:hover:enabled,
input:hover:enabled
{
  border: solid 2px $hover;
}

textarea:focus:enabled,
select:focus:enabled,
button:focus:enabled,
input:focus:enabled
{
  outline: 0;
  box-shadow: 0 0 0px 2px $focus;
}

textarea[readonly]:hover,
[type="text"][readonly]:hover,
select:hover
{
  cursor: pointer;
}

[type="button"],
[type="submit"]
{
  background-color: $bg-outset;
}


[type="button"]:hover:enabled,
[type="submit"]:hover:enabled,
[type="button"].enabled
{
  cursor: pointer;
  background-color: $bg-hover;
}

[type="checkbox"],
[type="radio"]
{
  display: none;
}

[type="checkbox"] + label,
[type="radio"] + label
{
  margin: 0.1em 0;

  border: none;
  background-color: $white;

  padding: 0.1em;
  font-style: italic;
  color: $disabled;
}

[type="checkbox"] + label::before,
[type="radio"] + label::before
{
  content: "✘ ";
}

[type="checkbox"]:checked:disabled + label,
[type="radio"]:checked:disabled + label
{
  box-shadow: inset 0 0 3px 1px $disabled;

  font-style: normal;
  color: black;
}

[type="checkbox"]:checked:enabled + label,
[type="radio"]:checked:enabled + label
{
  background-color: $bg-info;

  font-style: normal;
  color: black;
}

[type="checkbox"]:checked + label::before,
[type="radio"]:checked + label::before
{
  content: "✔ ";
}

[type="checkbox"]:enabled + label:hover,
[type="radio"]:enabled + label:hover
{
  cursor: pointer;
  background-color: $fg-info;

  color: black;
}
